{ config, pkgs, lib, ... }:

{
  nixpkgs.config.allowUnfree = true;
  
  imports = [
    ./fish
    ./neovim
    ./tmux.nix
    ./vscode
  ];

  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.packages = with pkgs; [
    atuin
    bat
    bat-extras.batgrep
    bat-extras.batman
    delta
    dust
    eza
    fd
    ffmpeg_6
    fzf
    gcc
    git
    graphviz
    keychain
    openssh
    procs
    reef
    ripgrep
    rustup
    shellcheck
    sourceHighlight
    starship
    tldr
    unzip
    uv
  ];

  home.stateVersion = "22.11";

  home.sessionVariables = {
    EDITOR = "nvim";
    COLORTERM = "truecolor";
  };

  programs.bash.enable = true;

  programs.direnv = {
    enable = true;
    nix-direnv.enable = true;
  };

  programs.home-manager.enable = true;

  services.podman = {
    enable = true;
  } // lib.optionalAttrs pkgs.stdenv.isDarwin {
    # Override nix-darwin's volumes manually because the default does
    # not currently actually use the podman CLI's default volumes.
    # https://sourcegraph.com/r/github.com/nix-community/home-manager@2b9504d5a0169d4940a312abe2df2c5658db8de9/-/blob/modules/services/podman/darwin.nix?L86 
    useDefaultMachine = false;
    machines.dev-machine = {
      volumes = [ "/Users:/Users" ];
    };
  };

  # `podman machine init` requires ssh-keygen on the PATH
  home.activation.podmanSshPath = lib.hm.dag.entryBefore [ "podmanMachines" ] ''
    export PATH="${pkgs.openssh}/bin:$PATH"
  '';
}
