{ config, pkgs, ... }:

{
  imports = [
    ./neovim.nix
  ];

  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # Packages that should be installed to the user profile.
  home.packages = with pkgs; [
    atuin
    bat
    bat-extras.batgrep
    bat-extras.batman
    blesh
    chezmoi
    delta
    dust
    eza
    ffmpeg_6
    fish
    fzf
    gcc
    git
    graphviz
    keychain
    ripgrep
    shellcheck
    sourceHighlight
    starship
    tldr
    tmux
    unzip
    uv
  ];

  # This value determines the Home Manager release that your
  # configuration is compatible with. This helps avoid breakage
  # when a new Home Manager release introduces backwards
  # incompatible changes.
  #
  # You can update Home Manager without changing this value. See
  # the Home Manager release notes for a list of state version
  # changes in each release.
  home.stateVersion = "22.11";

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;
}
