{ config, pkgs, ... }:

{
  nixpkgs.config.allowUnfree = true;
  
  imports = [
    ./neovim.nix
    ./tmux.nix
    ./vscode.nix
  ];

  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.packages = with pkgs; [
    atuin
    bat
    bat-extras.batgrep
    bat-extras.batman
    delta
    dust
    eza
    ffmpeg_6
    fish
    fzf
    gcc
    git
    graphviz
    keychain
    ripgrep
    rustup
    shellcheck
    sourceHighlight
    starship
    tldr
    unzip
    uv
  ];

  home.stateVersion = "22.11";

  programs.home-manager.enable = true;
}
